.cavenumbers {
  color: white;
  font-size: 80%;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 50px;
}
#c1 {
  position: absolute;
  left: 954px;
  top: 157px;
}
#c2 {
  position: absolute;
  left: 954px;
  top: 140px;
}
#c3 {
  position: absolute;
  left: 945px;
  top: 125px;
}
#c4 {
  position: absolute;
  left: 934px;
  top: 112px;
}
#c5 {
  position: absolute;
  left: 920px;
  top: 108px;
}
#c6 {
  position: absolute;
  left: 902px;
  top: 115px;
}
#c7 {
  position: absolute;
  left: 902px;
  top: 99px;
}
#c8 {
  position: absolute;
  left: 902px;
  top: 80px;
}
#c9 {
  position: absolute;
  left: 902px;
  top: 60px;
}
#c10 {
  position: absolute;
  left: 884px;
  top: 99px;
}
#c11 {
  position: absolute;
  left: 870px;
  top: 95px;
}
#c12 {
  position: absolute;
  left: 846px;
  top: 86px;
}
#c13 {
  position: absolute;
  left: 818px;
  top: 98px;
}
#c14 {
  position: absolute;
  left: 800px;
  top: 95px;
}
#c15 {
  position: absolute;
  left: 790px;
  top: 64px;
}
#c16 {
  position: absolute;
  left: 740px;
  top: 29px;
}
#c17 {
  position: absolute;
  left: 680px;
  top: 70px;
}
#c18 {
  position: absolute;
  left: 620px;
  top: 71px;
}
#c19 {
  position: absolute;
  left: 603px;
  top: 70px;
}
#c20 {
  position: absolute;
  left: 578px;
  top: 70px;
}
#c120 {
  position: absolute;
  left: 545px;
  top: 70px;
}
#c21 {
  position: absolute;
  left: 560px;
  top: 70px;
}
#c22 {
  position: absolute;
  left: 540px;
  top: 70px;
}
#c122 {
  position: absolute;
  left: 500px;
  top: 75px;
}
#c23 {
  position: absolute;
  left: 512px;
  top: 80px;
}
#c24 {
  position: absolute;
  left: 494px;
  top: 75px;
}
#c124 {
  position: absolute;
  left: 470px;
  top: 67px;
}
#c25 {
  position: absolute;
  left: 480px;
  top: 63px;
}
#c26 {
  position: absolute;
  left: 468px;
  top: 49px;
}
#c27 {
  position: absolute;
  left: 451px;
  top: 39px;
}
#c28 {
  position: absolute;
  left: 432px;
  top: 36px;
}
#c29 {
  position: absolute;
  left: 382px;
  top: 65px;
}
#c30 {
  position: absolute;
  left: 161px;
  top: 52px;
}
#c130 {
  position: absolute;
  left: 133px;
  top: 49px;
}
#c31 {
  position: absolute;
  left: 42px;
  top: 97px;
}
#c32 {
  position: absolute;
  left: 40px;
  top: 120px;
}
#c132 {
  position: absolute;
  left: 40px;
  top: 130px;
}
#c33 {
  position: absolute;
  left: 40px;
  top: 142px;
}
#c34 {
  position: absolute;
  left: 53px;
  top: 165px;
}
#101 {
  position: absolute;
  left: 100px;
  top: 200px;
}
#102 {
  position: absolute;
  left: 100px;
  top: 200px;
