.cavenumbers {
  color: white;
  font-size: 70%;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 50px;
}
#c1 {
  position: absolute;
  left: 954px;
  top: 157px;
}
#c2 {
  position: absolute;
  left: 954px;
  top: 140px;
}
#c3 {
  position: absolute;
  left: 945px;
  top: 125px;
}
#c4 {
  position: absolute;
  left: 934px;
  top: 112px;
}
#c5 {
  position: absolute;
  left: 920px;
  top: 108px;
}
#c6 {
  position: absolute;
  left: 906px;
  top: 117px;
}
#c7 {
  position: absolute;
  left: 906px;
  top: 107px;
}
#c8 {
  position: absolute;
  left: 906px;
  top: 97px;
}
#c9 {
  position: absolute;
  left: 906px;
  top: 87px;
}
#c10 {
  position: absolute;
  left: 884px;
  top: 101px;
}
#c11 {
  position: absolute;
  left: 871px;
  top: 98px;
}
#c12 {
  position: absolute;
  left: 848px;
  top: 90px;
}
#c13 {
  position: absolute;
  left: 818px;
  top: 100px;
}
#c14 {
  position: absolute;
  left: 800px;
  top: 99px;
}
#c15 {
  position: absolute;
  left: 792px;
  top: 68px;
}
#c16 {
  position: absolute;
  left: 728px;
  top: 70px;
}
#c1016 {
  position: absolute;
  left: 703px;
  top: 62px;
}
#c2016 {
  position: absolute;
  left: 684px;
  top: 54px;
}
#c3016 {
  position: absolute;
  left: 748px;
  top: 80px;
}
#c4016 {
  position: absolute;
  left: 750px;
  top: 95px;
}
#c17 {
  position: absolute;
  left: 680px;
  top: 75px;
}
#c18 {
  position: absolute;
  left: 620px;
  top: 75px;
}
#c19 {
  position: absolute;
  left: 603px;
  top: 74px;
}
#c20 {
  position: absolute;
  left: 578px;
  top: 76px;
}
#c120 {
  position: absolute;
  left: 578px;
  top: 64px;
}
#c21 {
  position: absolute;
  left: 560px;
  top: 74px;
}
#c22 {
  position: absolute;
  left: 540px;
  top: 74px;
}
#c122 {
  position: absolute;
  left: 500px;
  top: 78px;
}
#c23 {
  position: absolute;
  left: 512px;
  top: 80px;
}
#c24 {
  position: absolute;
  left: 494px;
  top: 77px;
}
#c124 {
  position: absolute;
  left: 494px;
  top: 65px;
}
#c224 {
  position: absolute;
  left: 494px;
  top: 53px;
}
#c25 {
  position: absolute;
  left: 480px;
  top: 63px;
}
#c26 {
  position: absolute;
  left: 468px;
  top: 53px;
}
#c27 {
  position: absolute;
  left: 451px;
  top: 43px;
}
#c28 {
  position: absolute;
  left: 432px;
  top: 40px;
}
#c29 {
  position: absolute;
  left: 382px;
  top: 69px;
}
#c30 {
  position: absolute;
  left: 146px;
  top: 47px;
}
#c130 {
  position: absolute;
  left: 43px;
  top: 99px;
}
#c31 {
  position: absolute;
  left: 95px;
  top: 110px;
}
#c32 {
  position: absolute;
  left: 46px;
  top: 120px;
}
#c33 {
  position: absolute;
  left: 46px;
  top: 142px;
}
#c34 {
  position: absolute;
  left: 60px;
  top: 165px;
}

#c132 {
  position: absolute;
  left: 1000px;
  top: 55px;
}
#c10001 {
  position: absolute;
  left: 1000px;
  top: 70px;
}
#c10006 {
  position: absolute;
  left: 1000px;
  top: 85px;
}
#c10008 {
  position: absolute;
  left: 1000px;
  top: 100px;
}
#c10013 {
  position: absolute;
  left: 1000px;
  top: 115px;
}
#c10017 {
  position: absolute;
  left: 1000px;
  top: 130px;
}
#c20001 {
  position: absolute;
  left: 1000px;
  top: 145px;
}
#c20003 {
  position: absolute;
  left: 1000px;
  top: 160px;
}
