#tip{
 position : absolute;
 border : 1px solid gray;
 background-color : #efefef;
 padding : 3px;
 z-index: 1000;
 /* set this to create word wrap */
 max-width: 200px;
}

body {
  font-family: Palatino, Verdana, Times New Roman, Helvetica, sans-serif;
  font-size: 100%;
  color: #eae2c4;
}

.banner {
  position: absolute;
  left: 20px;
  top: 17px;
  color: #eae2c4; #9C957C;
}

.home_image {
  position: absolute;
  left: 180px;
  top: 300px;  
}
.map_overlay {
  position: absolute;
  left: -1px;
  top: 1px;  
}

#title {
  font-size: 150%;
}
#subtitle {
  position: relative;
  top: 2px;
  left: 4px;
  font-size: 90%;
}
#links {
  position: relative;
  top: 6px;
  left: 4px;
  font-size: 100%;
}

.text_block {
  position: absolute;
  left: 180px;
  width: 700px;
  top: 200px;
  font-size: 95%;
}

.search {
  position: absolute;
  left: 800px;
  top: 17px;
  font-size: 75%;
}
.input_keywords {
  color: #eae2c4;
  background: black; 
  border: 1px solid #929687
}
.select_cave {
  color: #eae2c4;
  background: black; 
  border: 1px outset #929687
} 
.submit_query {
  color: #eae2c4;
  background: black; 
  border: 1px outset #929687
} 

.miniplans {
  position: absolute;
  left: 10px;
  top: 300px;
}
.miniplan_title {
  position: relative;
  left: 35px;
  font-size: 90%;
}

.mainbox {
  position: absolute;
  top: 220px;
  left: 140px;
  width: 1140px;
}
.planbox {
  position: relative;
}
.slidebox {
  position: relative;
  left: 40px;
}
#slides {
  position: absolute;
}
.caption {
  position: absolute;
  top: 80px;
  //left: 400px;
  width: 300px;
  font-size: 85%;
}
.thumbbox {
  position: relative;
  width: 800px;
  top: 20px;
  font-size: 90%;
}
#thumbs {
  position: absolute;
}
.thumbnails {
  position: absolute;
  font-size: 90%;
}

.tiny { 
  font-size: 50%;
}



a:link {
  color: #487a14;
  #color: #4D6FAC; #487a14;
  text-decoration: none;
}
a:visited {
  color: #487a14;
  #color: #4D6FAC; #487a14;
  text-decoration:none;
}
a:hover {
  color: #6ebd20;
  #color: #0147FA; #6ebd20;
  text-decoration:none;
}
a:active {
  color: #6ebd20;
  #color: #0147FA; #6ebd20;
  text-decoration:none;
}

